<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Imagen</title>
    <style>
        #drop-zone {
            width: 300px;
            height: 200px;
            border: 2px dashed #ccc;
            border-radius: 20px;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
            margin: 20px auto;
        }
        #drop-zone.dragover {
            background-color: #e1e1e1;
        }
        #preview {
            max-width: 100%;
            max-height: 300px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="drop-zone">
        Arrastra y suelta una imagen aquí o
        <input type="file" id="file-input" accept="image/*">
    </div>
    <img id="preview" src="" alt="Vista previa de la imagen">

    <div id="result"></div>

    <script src="../static/js/main.js"></script>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwritten recognition</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    

</head>
<body>
    <h2>Subir Imagen</h2>
    <div id="drop-zone">
        Arrastra y suelta una imagen aquí o
        <input type="file" id="file-input" accept="image/*">
    </div>
    
    <h2>O Dibuja Aquí</h2>
    <canvas id="canvas" width="300" height="300"></canvas>
    <div id="draw-tools">
        <button id="clear-btn">Limpiar</button>
        <button id="process-draw-btn">Procesar Dibujo</button>
    </div>
    <img id="preview" src="" alt="Vista previa de la imagen">

    <div id="result"></div>

    <script src="../static/js/main.js"></script>
    
</body>
</html> -->